@tailwind base;
@tailwind components;
@tailwind utilities;
.ticket-border {
    border: 2px solid #ffce00; /* Yellow border color */
    border-radius: 16px;
    position: relative;
}

.ticket-border::before,
.ticket-border::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #000;
}

.ticket-border::before {
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
}

.ticket-border::after {
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
}
body{
    font-family: "Lexend", sans-serif;
}